.gitignore

# Packages
*.egg
*.egg-info
build
bin
eggs
parts
var
sdist
develop-eggs
.installed.cfg
win32
linux32
*.tar.gz
make-bin.sh


warn*.txt
*.spec


# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg

#PyCharm
/venv/
/.idea/
/__pycache__/